@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.container {
    margin-top: 5px;
    margin-bottom: 10px;
}
.container header {
    display: flex;
    height: 70px;
}
.container .invoice a {
    margin-left: 45em;
}
.container header i {
    margin-left: 22em;
}
.fa-chevron-down,
.fa-chevron-up {
    font-size: 35px;
    transform: scaleY(0.8);
    transition: transform 0.3s ease;
}
.fa-chevron-up {
    transform: scaleY(-0.9);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
}
.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-body .pay-button {
    margin-left: 46em;
}
.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}
.card-header {
    background: -webkit-linear-gradient(left, #000000, #000000);
    color: white !important;
}
.card-body {
    background: -webkit-linear-gradient(left, #000000, #000000);
    color: white !important;
}
.dropdown-menu {
    display: none !important; /* Hide the dropdown menu by default */
    background-color: rgba(0, 0, 0, 0.8); /* Black with 80% opacity */
}

.navbar .dropdown:hover .dropdown-menu {
    display: block !important;
}
.dropdown-menu:hover a:hover {
    color: black !important;
}
.print:hover {
    opacity: 0.7; /* Mengubah opacity saat dihover */
}
.comment-date {
    color: #737272;
    font-size: 13px;
    text-align: left;
}
.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}
.track .step.active:before {
    background: #ff5722;
}
.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}
.track .step.active .icon {
    background: #ee5435;
    color: #fff;
}
.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}
.track .step.active .text {
    font-weight: 400;
    color: #000;
}
.track .text {
    display: block;
    margin-top: 7px;
}
.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px;
}
ul.row,
ul.row-sm {
    list-style: none;
    padding: 0;
}
.itemside .info {
    padding-left: 15px;
    padding-right: 7px;
}
.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.btn-warning {
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px;
}
